:root {
  --primary: #000000;
  --secondary: #ffffff;
  --secondary: #0000ee;
  --secondary: #222222;
}
/* "Times New Roman" - 16px (400) */
/* sans-serif - 12px (400) */
/* "Geist Mono", monospace - 14px (400) */